body{
    color: whitesmoke;
    margin: 0;
    main{
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        font-family: $nunito;
        canvas{
            display: inline-block;
            width: 120px;
            height: 80px;
            margin: auto;
            padding: 0;
            border: none;
        }
        h1{
            text-align: center;
            font-family: $odibee-sans;
        }
        article{
            width: 95%;
            margin: auto;
            line-height: 2;
            font-size: 125%;
        }
        footer{
            width: 100%
        }
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}