@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Odibee+Sans&display=swap');

@import "vars", "nav";

body{
    color: whitesmoke;
    margin: 0;
    main{
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        font-family: $nunito;
        h1{
            text-align: center;
            font-family: $odibee-sans;
        }
        figure{
            img{
                width: 50%;
                height: auto;
                display: block;
                margin: auto;
            }
            figcaption{
                text-align: center;
            }
        }
        article{
            width: 95%;
            margin: auto;
            line-height: 2;
            font-size: 125%;
        }
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}