@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Odibee+Sans&display=swap');

@import "vars", "nav";

*{
    box-sizing: border-box;
}

body,html{
    height: 100%;
    margin: 0;
}

body{
    footer{
    background-color: $secondary-color;
    color: whitesmoke;
    text-align: left;
    padding: 1%;
    } 
}